footer {
  display: flex;
  justify-content: space-between;
}

p {
  text-align: justify;
}

h1.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discord-content {
  display: flex;
}

.discord-content p {
  margin-right: 1rem;
}

.install-content > img {
  margin: 1rem 0;
}